<head th:fragment="common-header">
    <meta charset="UTF-8">
    <title>Trenddit - application monitoring reddit's trends</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"
            integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg=="
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/f23518e6d6.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" th:src="@{/js/chart/top-subreddits.js}"></script>
    <script type="text/javascript" th:src="@{/js/chart/growth-chart.js}"></script>
    <script type="text/javascript" th:src="@{/js/chart/analysis-chart.js}"></script>
    <script type="text/javascript" th:src="@{/js/table/growth-table.js}"></script>
    <script type="text/javascript" th:src="@{/js/table/comment-table.js}"></script>
    <script type="text/javascript" th:src="@{/js/table/post-table.js}"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
</head>
