.space {
    margin-left: 150px;
}

.container {
    margin: auto;
    width: 900px;
}

.data-chart {
    max-width: 900px;
    max-height: 500px;
}

.small-container {
    width: 425px;
}

.show-more-button {
    color: #007bff;
    text-align: center;
}

.table-link:hover {
    text-decoration: none;
}

.growth-number-down, .growth-number-up, .w-90 {
    width: 99px;
}

.growth-number-up {
    color: #31A24C;
}

.growth-number-down {
    color: #dc143c;
}
