<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"></head>
<body>
<nav th:replace="common/navbar :: common-navbar"></nav>
<div class="container">
    <h2 class="mt-4 mb-4">Top subreddits by number of posts in top r/all</h2>

    <label class="float-right">
        <select class="form-control form-control-sm" id="periodOfTimeSelect" onchange="drawTopSubredditChart()">
            <option value="day">Day</option>
            <option value="week" selected="selected">Week</option>
            <option value="month">Month</option>
            <option value="year">Year</option>
            <option value="all-time">All time</option>
        </select>
    </label>

    <canvas id="top-subreddits" class="data-chart mb-5"></canvas>
    <script>
        drawTopSubredditChart()
    </script>

    <div class="d-flex mb-5">
        <div class="small-container mr-4">
            <h2 class="mb-4">Top commented today</h2>
            <table class="table table-hover table-bordered table-striped">
                <thead>
                <tr>
                    <th scope="col">Subreddit</th>
                    <th class="w-90" scope="col">Comments</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="subreddit: ${mostCommented}">
                    <td><a class="table-link" th:text="'r/' + ${subreddit.name}"
                           th:href="'/subreddit/' + ${subreddit.name}"></a></td>
                    <td class="text-right" th:text="${subreddit.number}"></td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="2" class="show-more-button"><a class="table-link" href="/top/comments">Show more</a>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>

        <div class="small-container">
            <h2 class="mb-4">Top posted today</h2>
            <table class="table table-hover table-bordered table-striped">
                <thead>
                <tr>
                    <th scope="col">Subreddit</th>
                    <th class="w-90" scope="col">Posts</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="subreddit: ${mostPosted}">
                    <td><a class="table-link" th:text="'r/' + ${subreddit.name}"
                           th:href="'/subreddit/' + ${subreddit.name}"></a></td>
                    <td class="text-right" th:text="${subreddit.number}"></td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="2" class="show-more-button"><a class="table-link" href="/top/posts">Show more</a></td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <div class="d-flex mb-5" style="width: 100%">
        <div class="small-container ml-4">
            <h2 class="mb-4" style="min-width: 600px">Top increase and decline in activity</h2>
            <table class="table table-hover table-bordered table-striped" style="width: 100%;">
                <thead>
                <tr>
                    <th class="w-200" scope="col">Subreddit</th>
                    <th class="w-200" scope="col">Activity increase(%)</th>
                    <th class="w-200" scope="col">Subreddit</th>
                    <th class="w-200" scope="col">Activity decline(%)</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="subreddit, iter: ${firstActivity}">
                    <td><a class="table-link" th:text="'r/' + ${subreddit.name}"
                           th:href="'/subreddit/' + ${subreddit.name}"></a></td>
                    <td class="growth-number-up">
                        <div class="d-flex float-right">
                            <span class="mr-2" th:text="${subreddit.number}"></span>
                            <i class="mr-1 fas fa-angle-up" data-fa-transform="down-4"></i>
                        </div>
                    </td>
                    <td><a class="table-link" th:text="'r/' + ${lastActivity[__${iter.index}__].name}"
                           th:href="'/subreddit/' + ${lastActivity[__${iter.index}__].name}"></a></td>
                    <td class="growth-number-down">
                        <div class="d-flex float-right">
                            <span class="mr-2" th:text="${lastActivity[__${iter.index}__].number}"></span>
                            <i class="mr-1 fas fa-angle-down" data-fa-transform="down-4"></i>
                        </div>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="4" class="show-more-button"><a class="table-link" href="/top/activity">Show more</a>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <h2 class="mb-4">Fastest growing</h2>
    <div class="mb-5">
        <table class="table table-hover table-bordered table-striped">
            <thead>
            <tr>
                <th colspan="2" style="width: 300px">Today</th>
                <th colspan="2" style="width: 300px">Week</th>
                <th colspan="2" style="width: 300px">Month</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="subreddit, iter: ${growthToday}">
                <td><a class="table-link" th:text="'r/' + ${subreddit.name}"
                       th:href="'/subreddit/' + ${subreddit.name}"></a></td>
                <td class="growth-number-up">
                    <div class="d-flex float-right">
                        <span class="mr-2" th:text="${subreddit.number}"></span>
                        <i class="mr-1 fas fa-angle-up" data-fa-transform="down-4"></i>
                    </div>
                </td>
                <td><a class="table-link" th:text="'r/' + ${growthWeek[__${iter.index}__].name}"
                       th:href="'/subreddit/' + ${growthWeek[__${iter.index}__].name}"></a></td>
                <td class="growth-number-up">
                    <div class="d-flex float-right">
                        <span class="mr-2" th:text="${growthWeek[__${iter.index}__].number}"></span>
                        <i class="mr-1 fas fa-angle-up" data-fa-transform="down-4"></i>
                    </div>
                </td>
                <td><a class="table-link" th:text="'r/' + ${growthMonth[__${iter.index}__].name}"
                       th:href="'/subreddit/' + ${growthMonth[__${iter.index}__].name}"></a></td>
                <td class="growth-number-up">
                    <div class="d-flex float-right">
                        <span class="mr-2" th:text="${growthMonth[__${iter.index}__].number}"></span>
                        <i class="mr-1 fas fa-angle-up" data-fa-transform="down-4"></i>
                    </div>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="6" class="show-more-button"><a class="table-link" href="/top/growing">Show more</a></td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
</body>
</html>
