<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"></head>
<body>
<nav th:replace="common/navbar :: common-navbar"></nav>
<div class="container">
    <div class="mb-5">
        <h2 class="mt-4 mb-3">Top analysis</h2>
        <span>Analysis subreddits based on their appearance in top r/all</span>
    </div>

    <canvas id="top-analysis" class="growth-chart mb-5"></canvas>
    <script>
        drawAnalysisChart()
    </script>
</div>
</body>
</html>
