<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"></head>
<body>
<nav th:replace="common/navbar :: common-navbar"></nav>
<div class="container">
    <div class="mb-5">
        <h2 class="mt-4 mb-3">Top subreddits</h2>
        <span>Top subreddits based on subscriber number</span>
    </div>

    <div class="mb-5">
        <table id="subscribersTable" class="table table-hover table-bordered table-striped" style="width: 100%">
            <thead>
            <tr>
                <th style="width: 10%">Rank</th>
                <th style="width: 65%">Subreddit</th>
                <th style="width: 25%">Subscribers</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="subreddit, iter: ${subscribersList}">
                <td th:text="${iter.index} + 1"></td>
                <td><a class="table-link" th:text="'r/' + ${subreddit.name}"
                       th:href="'/subreddit/' + ${subreddit.name}"></a></td>
                <td th:text="${subreddit.subscribers}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
