<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"></head>
<body>
<nav th:replace="common/navbar :: common-navbar"></nav>
<div class="container">
    <div class="mb-5">
        <h2 class="mt-4 mb-3">
            <a class="text-reset text-decoration-none" th:href="'https://www.reddit.com' + ${subreddit.url}"
               th:text="'r/' + ${subreddit.name}"></a>
        </h2>
        <p th:text="${subreddit.description}"></p>
        <p th:text="'Created at: ' + ${subreddit.createdAt}"></p>
    </div>
</div>
</body>
</html>
